<form action="/issues" method="post" class="content">
  <div class="column">
    <h1>Add Your Cause</h1>
    <p>Tell the world what you are going to fix</p>
    <p><label>1. Title</label><small>&nbsp;(less than 60 characters)</small></p>
    <p><input type="text" name="issue[title]" placeholder="e.g., Ending Politics in California Education" /></p>
    <p><label>2. Description</label><small>&nbsp;(less than 160 characters)</small></p>
    <p><input type="text" name="issue[description]" placeholder="e.g., A poor education system for our children is unacceptable" /></p>
    <p><label>3. Plan</label></p>
    <p><textarea rows="5" placeholder="Give a brief description of what you're going to do to bring tha change you want to see your family, friends, community world." name="issue[plan]"></textarea></p>
    <div class="right"><input style="width: 150px" type="submit" class="button" value="Done">
    </a></div>
  </div>
</form>