<!DOCTYPE html>
<html>
 <head>
  <title>Singly node.js Example</title>

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>

  <script src="/lib/sprintf-0.7-beta1.js"></script>
  <script src="/lib/underscore-min.js"></script>

  <script>
   var accessToken = '<%= session.access_token %>';
  </script>

  <script src="/app.js"></script>

  <link rel="stylesheet" href="/styles.css" />
 </head>

 <body>
  <h1><a href="/">Singly node.js Example</a></h1>

  <%- body %>
 </body>
</html>
