<div class="content">
      <div class="column">
        <h1>Become A Champion</h1>
        <p>Sign up as an official change maker in our community</p>
        <p><label>1. Add your Photo:</label><a href="" class="button">Upload Photo</a></p>
        <p><label>2. Add your Location</label></p>
        <p><input type="text" placeholder="e.g., San Francisco, CA" /></p>
        <p><label>3. Add your Bio</label></p>
        <p><textarea rows="5" placeholder="This is who you are and what you've done in the past."></textarea></p>
        <p><label>4. Add your Twitter Account</label></p>
        <p><input type="text" placeholder="e.g., @ilobby" /></p>
        <div class="right"><a href="" class="button">Submit</a></div>
      </div>
    </div>