<h1>User Profile</h1>

<div><h4><%= @user.name %></h4></div>
<div><%= @user.bio %></div>
<div>Championed Issues</div>
<div>My Issues</div>

<% if current_user.id == @user.id %>
	<%= link_to "Edit", edit_user_path(@user) %>
<% end %>

