 <div class="header">
    <div class="background shadow">
        <div class="column">
            <a class="logo" href="/">ilobby<span style="color: #3399CC;">.org</span></a>
            <div class="menu">
				<% if user_signed_in? %>
					<%= link_to 'Edit profile', edit_user_registration_path %>
                	<%= link_to "Logout", destroy_user_session_path, :method => :delete %>
				<% else %>
                	<%= link_to "Sign up", new_user_registration_path %>
                	<%= link_to "Login", new_user_session_path %>
				<% end %>
            </div>
        </div>
    </div>
</div>