 <div class="header">
    <div class="background shadow">
        <div class="column">
            <a class="logo" href="">ilobby<span style="color: #3399CC;">.org</span></a>
            <div class="menu">
                <a class="menu-item" href="/">
                	Causes
                </a>
                <a class="menu-item" href="<%= new_user_registration_path %>">
                	Login
                </a>
            </div>
        </div>
    </div>
</div>