<!DOCTYPE html>
<html>
    <head>
        <title> lobby men </title>
    </head>
    <body class="on-boarding">
        <h1 class="header-title"> On Boarding </h1>
        <ul class="steps-list">
            <li>
                <h2> 1. </h2>
            </li>
            <li>
                <h2> 2. </h2>
            </li>
            <li>
                <h2> 3. </h2>
            </li>
        </ul>
    </body>
</html>