<!DOCTYPE html>
<html>
    <head>
        <title>TheLobby.org - Find, Support and Cause Change</title>
        <style type="text/css">
            
        </style>
    </head>
    <body>
        <header class="header-bar">
            <h1 class="logo-name"> iLobby<span>.org<span> </h1>
            <div class="search-bar">
                <i class="search-icon"></i>
                <span class="search-text">Find</span>
            </div>
            <button class="champion-button">
                BECOME A CHAMPION
            </button>
            <a class="signup-link"> Login or Sign Up </a>
        </header>
        <div> <% issue._id %> </div>
    </body>
</html>