<!DOCTYPE html>
<html>
    <head>
        <title> Lobby men </title>
    </head>
    <body class="issues list">
        <nav class="header-chunk">
            <ul>
                <li>My Profile</li>
                <li>Signup</li>
                <li>Become a rep</li>
            </ul>
        </nav>
        <section class="issues-list">
            <ul>
            <% for (var issue in issues) { %>

            <% } %>
            </ul>
        </section>
    </body>
</html>