<div class="content">
    <div class="column">
        <div class="img123"></div>
        <div class="separation-line"></div>
        <div class="featured">Feature Causes</div>

		<% @issues.each do |issue| %>
        	<%= render :partial => 'issues/show_list_item', :locals => {:issue => issue} %>
		<% end %>
        
        <div class="right"><a class="button" href="/">See all</a></div>
    </div>
</div>